<body>
    <div class="row">
        <div class="col-sm-4 col-12 offset-sm-3">
            <div class="card">
                <img src="./assets/images/kodiaq.jpg" class="card-img-top" alt="carImage">
                <div class="card-body" style="padding-bottom: 4px; padding-left: 0px; padding-right: 0px;">
                <h5 class="card-title" style="border-bottom: solid; margin-bottom: 0px; padding-left: 8px;">Skoda Kodiaq VRS 4x4 2.0TDI</h5>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa-solid fa-car me-2"></i>Skoda</li>
                            <li class="list-group-item"><i class="fa-solid fa-gas-pump me-2"></i>Diesel</li>
                            <li class="list-group-item"><i class="fa-solid fa-gauge-high me-2"></i>176 kW</li>
                            <li class="list-group-item"><i class="fa-solid fa-gear me-2"></i>Automatic</li>
                        </ul>
                    </div>
                    
                    <div class="col">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa-solid fa-car-side me-2"></i>Kodiaq</li>
                            <li class="list-group-item"><i class="fa-solid fa-road me-2"></i>170000 km</li>
                            <li class="list-group-item"><i class="fa-solid fa-calendar me-2"></i>2018</li>
                            <li class="list-group-item"><i class="fa-solid fa-mountain-sun me-2"></i>All-wheel drive</li>
                        </ul>    
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-sm-2 col-12">
            <div class="card">
                <div class="card-body">
                <a href="#profileView" style="text-decoration: none; color: black;"><h5 class="card-title"><i class="fa-solid fa-user me-2 fa-lg"></i>Seller</h5></a>
                <h6 class="card-subtitle mb-2"><i class="fa-solid fa-location-dot me-2"></i>Kanton Sarajevo</h6>
                <h6 class="card-subtitle mb-2"><i class="fa-solid fa-clock me-2"></i>Published: 22.03.2025 at 22:23</h6>
                </div>
            </div>
            <div class="row">
                <span class="border-top"></span>
                <h4><i class="fa-solid fa-money-bill me-2"></i>Price: 60000 KM</h4>
                <span class="border-bottom"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-12 offset-sm-3">
            <h5 style="border: solid; padding-left: 8px; margin-bottom: 0; border-bottom: 0;">Detailed description</h5>
            <p class="text-break" style="border: solid; padding-left: 8px; padding-right: 8px;">gkasndasndajksddasdadadasgkasndasndajksddasdadadasgkasndasndajksddasdadadasgkasndasndajksddasdadadasgkasndasndajksddasdadadasgkasndasndajksddasdadadasgkasndasndajksddasdadadasgkasndasndajksddasdadadasgkasndasndajksddasdadadasgkasndasndajksddasdadadasgkasndasndajksddasdadadas</p>
        </div>
    </div>
</body>
