
<body>
    <div class="container"> 
        <div class="row d-flex justify-content-center gy-3">
            <div class="col-sm-4 col-12">
                <a href="#carView" style="text-decoration: none;">
                <div class="card">
                    <img src="./assets/images/kodiaq.jpg" class="card-img-top" alt="carImage">
                    <div class="card-body">
                    <h5 class="card-title">Skoda Kodiaq VRS 4x4 2.0TDI</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-money-bill me-2"></i>60000 KM</li>
                    <li class="list-group-item"><i class="fa-solid fa-gas-pump me-2"></i>Diesel</li>
                    <li class="list-group-item"><i class="fa-solid fa-road me-2"></i>170000 km</li>
                    <li class="list-group-item"><i class="fa-solid fa-calendar me-2"></i>2018</li>
                    <li class="list-group-item"><i class="fa-solid fa-gear me-2"></i>Automatic</li>
                    </ul>
                </div>
                </a>
            </div>
            <div class="col-sm-4 col-12">
                <a href="#carView" style="text-decoration: none;">
                <div class="card">
                    <img src="./assets/images/kodiaq.jpg" class="card-img-top" alt="carImage">
                    <div class="card-body">
                    <h5 class="card-title">Skoda Kodiaq VRS 4x4 2.0TDI</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-money-bill me-2"></i>60000 KM</li>
                    <li class="list-group-item"><i class="fa-solid fa-gas-pump me-2"></i>Diesel</li>
                    <li class="list-group-item"><i class="fa-solid fa-road me-2"></i>170000 km</li>
                    <li class="list-group-item"><i class="fa-solid fa-calendar me-2"></i>2018</li>
                    <li class="list-group-item"><i class="fa-solid fa-gear me-2"></i>Automatic</li>
                    </ul>
                </div>
                </a>
            </div>
            <div class="col-sm-4 col-12">
                <div class="card">
                    <img src="./assets/images/kodiaq.jpg" class="card-img-top" alt="carImage">
                    <div class="card-body">
                    <h5 class="card-title">Skoda Kodiaq VRS 4x4 2.0TDI</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-money-bill me-2"></i>60000 KM</li>
                    <li class="list-group-item"><i class="fa-solid fa-gas-pump me-2"></i>Diesel</li>
                    <li class="list-group-item"><i class="fa-solid fa-road me-2"></i>170000 km</li>
                    <li class="list-group-item"><i class="fa-solid fa-calendar me-2"></i>2018</li>
                    <li class="list-group-item"><i class="fa-solid fa-gear me-2"></i>Automatic</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="card">
                    <img src="./assets/images/kodiaq.jpg" class="card-img-top" alt="carImage">
                    <div class="card-body">
                    <h5 class="card-title">Skoda Kodiaq VRS 4x4 2.0TDI</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-money-bill me-2"></i>60000 KM</li>
                    <li class="list-group-item"><i class="fa-solid fa-gas-pump me-2"></i>Diesel</li>
                    <li class="list-group-item"><i class="fa-solid fa-road me-2"></i>170000 km</li>
                    <li class="list-group-item"><i class="fa-solid fa-calendar me-2"></i>2018</li>
                    <li class="list-group-item"><i class="fa-solid fa-gear me-2"></i>Automatic</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="card">
                    <img src="./assets/images/kodiaq.jpg" class="card-img-top" alt="carImage">
                    <div class="card-body">
                    <h5 class="card-title">Skoda Kodiaq VRS 4x4 2.0TDI</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-money-bill me-2"></i>60000 KM</li>
                    <li class="list-group-item"><i class="fa-solid fa-gas-pump me-2"></i>Diesel</li>
                    <li class="list-group-item"><i class="fa-solid fa-road me-2"></i>170000 km</li>
                    <li class="list-group-item"><i class="fa-solid fa-calendar me-2"></i>2018</li>
                    <li class="list-group-item"><i class="fa-solid fa-gear me-2"></i>Automatic</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="card">
                    <img src="./assets/images/kodiaq.jpg" class="card-img-top" alt="carImage">
                    <div class="card-body">
                    <h5 class="card-title">Skoda Kodiaq VRS 4x4 2.0TDI</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-money-bill me-2"></i>60000 KM</li>
                    <li class="list-group-item"><i class="fa-solid fa-gas-pump me-2"></i>Diesel</li>
                    <li class="list-group-item"><i class="fa-solid fa-road me-2"></i>170000 km</li>
                    <li class="list-group-item"><i class="fa-solid fa-calendar me-2"></i>2018</li>
                    <li class="list-group-item"><i class="fa-solid fa-gear me-2"></i>Automatic</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="card">
                    <img src="./assets/images/kodiaq.jpg" class="card-img-top" alt="carImage">
                    <div class="card-body">
                    <h5 class="card-title">Skoda Kodiaq VRS 4x4 2.0TDI</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-money-bill me-2"></i>60000 KM</li>
                    <li class="list-group-item"><i class="fa-solid fa-gas-pump me-2"></i>Diesel</li>
                    <li class="list-group-item"><i class="fa-solid fa-road me-2"></i>170000 km</li>
                    <li class="list-group-item"><i class="fa-solid fa-calendar me-2"></i>2018</li>
                    <li class="list-group-item"><i class="fa-solid fa-gear me-2"></i>Automatic</li>
                    </ul>
                </div>
            </div>    
        </div>


    
</body>