<body>
    <div class="container" style="margin-left: 0;">
        <div class="row">
            <div class="col-sm-2 col-12">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-user me-2 fa-lg"></i>Seller</h5>
                    <h6 class="card-subtitle mb-2"><i class="fa-solid fa-location-dot me-2"></i>Kanton Sarajevo</h6>
                    <h6 class="card-subtitle mb-2"><i class="fa-solid fa-clock me-2"></i>Registered: 22.03.2025</h6>
                    </div>
                </div>
                <a href="#profileView"><button type="button" class="btn btn-primary">Go back</button></a>
                <a href="#savedListings"><button type="button" class="btn btn-success">Saved listings</button></a>
                <button type="button" class="btn btn-danger">Logout</button>
            </div>
            <div class="col-sm-4 col-12 offset-sm-1">
              <select id="brandSelect" class="form-select" aria-label="Select brand">
                  <option value="User 1">User 1</option>  
                  <option value="User 2">User 2</option>
                  <option value="User 3">User 3</option>
              </select>
             </div>
             <div class="col-sm-4 col-12">
                <p class="text-break" style="border: solid; padding-left: 8px; padding-right: 8px;">Messages will be loaded here!</p>
                <form>
                    <input type="text" class="form-control"></input>
                    <button type="submit" class="btn btn-primary mb-3">Send Message</button>
                </form>
            </div>
          </div>
    </div>



</body>