<body>
    <div class="container" style="margin-left: 0;">
        <div class="row">
            <div class="col-sm-2 col-12">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-user me-2 fa-lg"></i>Seller</h5>
                    <h6 class="card-subtitle mb-2"><i class="fa-solid fa-location-dot me-2"></i>Kanton Sarajevo</h6>
                    <h6 class="card-subtitle mb-2"><i class="fa-solid fa-clock me-2"></i>Registered: 22.03.2025</h6>
                    </div>
                </div>
                <button type="button" class="btn btn-danger">Logout</button>
            </div>
            <div class="col-sm-3 col-12">
              <a href="#carView" style="text-decoration: none;">
                <div class="card">
                    <img src="./frontend/assets/images/kodiaq.jpg" class="card-img-top" alt="carImage">
                    <div class="card-body">
                    <h5 class="card-title">Skoda Kodiaq VRS 4x4 2.0TDI</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-money-bill me-2"></i>60000 KM</li>
                    <li class="list-group-item"><i class="fa-solid fa-gas-pump me-2"></i>Diesel</li>
                    <li class="list-group-item"><i class="fa-solid fa-road me-2"></i>170000 km</li>
                    <li class="list-group-item"><i class="fa-solid fa-calendar me-2"></i>2018</li>
                    <li class="list-group-item"><i class="fa-solid fa-gear me-2"></i>Automatic</li>
                    </ul>
                </div>
                </a>
            </div>
            <div class="col-sm-3 col-12">
                <div class="card">
                    <img src="./frontend/assets/images/kodiaq.jpg" class="card-img-top" alt="carImage">
                    <div class="card-body">
                    <h5 class="card-title">Skoda Kodiaq VRS 4x4 2.0TDI</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-money-bill me-2"></i>60000 KM</li>
                    <li class="list-group-item"><i class="fa-solid fa-gas-pump me-2"></i>Diesel</li>
                    <li class="list-group-item"><i class="fa-solid fa-road me-2"></i>170000 km</li>
                    <li class="list-group-item"><i class="fa-solid fa-calendar me-2"></i>2018</li>
                    <li class="list-group-item"><i class="fa-solid fa-gear me-2"></i>Automatic</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 col-12">
                <div class="card">
                    <img src="./frontend/assets/images/kodiaq.jpg" class="card-img-top" alt="carImage">
                    <div class="card-body">
                    <h5 class="card-title">Skoda Kodiaq VRS 4x4 2.0TDI</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-money-bill me-2"></i>60000 KM</li>
                    <li class="list-group-item"><i class="fa-solid fa-gas-pump me-2"></i>Diesel</li>
                    <li class="list-group-item"><i class="fa-solid fa-road me-2"></i>170000 km</li>
                    <li class="list-group-item"><i class="fa-solid fa-calendar me-2"></i>2018</li>
                    <li class="list-group-item"><i class="fa-solid fa-gear me-2"></i>Automatic</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
            
   
    

    

    
</body>
